

@{
    ViewBag.Title = "Home Page";
}


    <div class="jumbotron">
        <h1>Welcome to GC Coffee Shop!</h1>
        <div>
            <p class="lead">Please register with the tab in the top.</p>
        </div>
        <img src="~/Content/images.jpg" />
        </div>